/* FOR TRANSITIONS */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ANIMATIONS */
.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* MENU STYLES */
.sim-menu {
}

.sim-menu .btn {
  height: 55px;
  margin: 10px auto;
  width: 100% !important;
  border-color: #00a9af;
  border-radius: 10px;
  color: #00a9af;
  font-size: 20px;
  box-shadow: -1px 1px 5px grey;
}

.sim-menu .btn:hover {
  border-color: #00a9af;
  color: #00a9af;
  opacity: 80%;
  transform: scale(1.01);
}

.sim-menu .btn-primary {
  border-color: #00a9af;
  color: #00a9af !important;
}

/* HEADER STYLES */
.contact-bar {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  padding: 5px 0;
  position: sticky;
  top: 0;
  background-color: rgb(234, 234, 234);
  z-index: 2;
  font-size: 15px;
  font-weight: 300;
  transition-timing-function: ease-out;
  transition: 0.25s;
  transform: translateY(0);
}

.contact-bar a:hover {
  text-decoration: none !important;
  opacity: 80%;
  transform: scale(1.01);
}

.contact-bar-container {
  display: flex;
  margin: 0 25px;
  color: black;
}

.contact-bar-container:hover {
  color: #00a9af;
}

.contact-bar-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.contact-bar-icon:hover {
  opacity: 80%;
  transform: scale(1.01);
}

nav {
  width: 100%;
  min-height: 100px;
  position: fixed !important;
  z-index: 3;
  box-shadow: 0 5px 5px lightgrey;
  /* border-bottom: 1px solid black; */
}

.navbar-nav {
  min-width: 700px !important;
  margin: 0 5% 0 0 !important;
}

.color-navbar {
  background-color: white;
  padding: 0 0 0 16% !important;
}

.logo {
  margin: 0 8% 0 0 !important;
}

.nav-link {
  color: #414042 !important;
  height: 40px;
  width: 100px !important;
  padding: none !important;
  font-weight: 400;
  font-size: 14px;
  text-align-last: center;
  display: flex;
  opacity: 80%;
  margin: 0 10px;
}

.nav-link:hover {
  opacity: 1;
  transform: scale(1.01);
  border-bottom: 4px solid #303d7c70;
}

.nav-link.active {
  opacity: 1;
  border-bottom: 4px solid #303d7c;
}

/* .nav-link.active.cta-btn-header {
  opacity: 1;
  border-bottom: none;
} */

/* .nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031d44;
  width: 0%;
  bottom: 10px;
}

.nav-link:hover::before {
  width: 100%;
} */

.cta-btn-header {
  background-color: #00a9af !important;
  color: white !important;
  border: 1px solid #00a9af;
  border-bottom: none !important;
  border-radius: 0.25rem;
  height: 40px;
  width: 200px !important;
  /* margin: 0 5% 0 0; */
  font-size: 15px !important;
  box-shadow: -1px 1px 5px grey;
}

.cta-btn-header:hover {
  opacity: 80%;
  transform: scale(1.01);
  transition: 200ms linear;
}

/* FOOTER SECTION */
.footer {
  background-color: #414042;
  min-height: 100px;
  width: 100%;
  padding: 10px 15%;
}

.footer-content {
  margin: 40px auto;
  padding: 0 10%;
  height: 35px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.social-icon {
  height: 35px;
  width: auto;
}

.social-icon:hover {
  opacity: 80%;
  transform: scale(1.01);
}

.copyright-text {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 12px;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  height: 700px;
  /* Note: for actual height, subtract header height (aka padding of this section) */
  padding: 150px 0 0;
}

.hero-section-1 {
  width: 50%;
  height: 600px;
  margin: 0 0 0 15%;
}

.hero-section-2 {
  width: 50%;
  height: 600px;
  margin: 0 15% 0 0;
}

.hero-section-1-fixed {
  height: 375px;
  margin: 50px 0 0;
}

.hero-section-2-fixed {
  height: 375px;
  margin: 50px 0 0;
  position: relative;
}

.hero-title {
  width: 80%;
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-size: 40px;
}

.hero-subtitle {
  width: 80%;
  margin: 25px 0 50px;
  text-align: left;
  font-weight: 500;
  font-size: 30px;
}

.hero-text {
  margin: 50px auto 0 0;
  width: 80%;
  font-weight: 400;
  font-size: 18px;
}

.no-margin-bottom {
  margin-bottom: -20px;
}

.cta-btn-1 {
  background-color: #00a9af !important;
  color: white;
  border: 1px solid #00a9af;
  border-radius: 0.25rem;
  height: 50px;
  width: 300px;
  margin: 0 auto 0 0;
  display: block !important;
  font-size: 20px !important;
  box-shadow: -1px 1px 5px grey;
}

.cta-btn-1:hover {
  opacity: 80%;
  transform: scale(1.01);
  transition: 200ms linear;
}

.video-1 {
  margin: 0 5%;
  height: auto;
  width: 90% !important;
  border-radius: 5px;
  border: none;
  /* position: absolute; */
  box-shadow: -1px 1px 5px grey;
}

.social-proof-1 {
  width: 100%;
  height: 125px;
  margin: 0 15% 0 0;
  display: flex;
  justify-content: space-evenly;
}

.proof-logo {
  width: 100px;
  height: auto;
  margin: 12px 0 0;
  display: block;
}

/* DIVIDER SECTION */

.divider-section {
  position: relative;
  height: 500px;
}

.divider-curve-1 {
  position: relative;
  height: auto;
  width: 100%;
  bottom: 150px;
  z-index: -1;
}

.divider-curve-2 {
  position: relative;
  height: auto;
  width: 100%;
  bottom: 150px;
  z-index: -1;
}

.social-proof-divider {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 100px;
  bottom: 700px;
  text-align: center;
  color: white;
}

.divider-section-title {
  font-size: 40px;
}

/* DEMO SECTION */
.demo-section {
  height: 400px;
  display: flex;
}

.demo-background {
  position: relative;
  height: 800px;
  width: 100%;
  bottom: 400px;
  z-index: -2;
  margin-bottom: -400px;
}

.demo-section-1 {
  width: 35%;
  margin: 150px 0 0 15%;
}

.demo-section-2 {
  width: 35%;
  margin: 150px 15% 0 0;
  padding: 5% 0;
}

.video-2 {
  margin: 0 5%;
  height: auto;
  width: 80% !important;
  border-radius: 5px;
  border: none;
  /* position: absolute; */
  box-shadow: -1px 1px 5px grey;
}

.demo-title {
  width: 80%;
  margin: 0;
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  color: #303d7c;
}

.demo-text {
  margin: 25px auto 0 0;
  width: 80%;
  font-weight: 400;
  font-size: 18px;
}

/* SIM SECTION */
.sim-section {
  height: 700px;
}

.sim-title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #00a9af;
}

.sim-subtitle {
  width: 80%;
  margin: 25px auto 100px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.sim-section button {
  background-color: #00a9af;
  margin: 0 25px;
}

.sim-section button:hover {
  background-color: #00a9af !important;
  opacity: 80%;
}

.BrainhubCarousel__trackContainer {
  height: 375px !important;
}

.BrainhubCarouselItem {
  height: 375px !important;
}

.sim-card {
  height: 350px;
  width: 250px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: -1px 1px 5px grey;
  text-align: left;
  color: #303d7c;
}

.sim-card:hover {
  opacity: 80%;
  transform: scale(1.01);
  /* transition: 200ms linear; */
}

.sim-card-img {
  height: auto;
  width: 246px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sim-card-title {
  font-size: 25px;
  margin: 15px 0;
  padding: 0 8%;
}

.sim-card-text {
  padding: 0 8%;
  font-size: 15px;
}

/* FEATURE SECTION */
.feature-section {
  margin: 50px auto 0;
  height: 3100px;
}

.feature-title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.emphasis {
  display: inline-block;
  color: #00a9af;
}

.feature-section-1 {
  height: 500px;
  display: flex;
  padding: 2% 15%;
  margin: 50px auto 100px;
}

.feature-section-1a {
  width: 50%;
  padding: 2% 0;
}

.feature-section-1b {
  width: 50%;
  padding: 5% 0 0 5%;
}

.feature-section-2 {
  height: 500px;
  display: flex;
  padding: 0 15%;
  margin: 50px auto 100px;
}

.feature-section-2a {
  width: 50%;
  padding: 5% 5% 0 0;
}

.feature-section-2b {
  width: 50%;
  padding: 2% 0 0 5%;
}

.feature-section-3 {
  height: 500px;
  display: flex;
  padding: 2% 15%;
  margin: 50px auto 100px;
}

.feature-section-3a {
  width: 50%;
  padding: 2% 0;
}

.feature-section-3b {
  width: 50%;
  padding: 5% 0 0 5%;
}

.feature-section-4 {
  height: 500px;
  display: flex;
  padding: 0 15%;
  margin: 50px auto 100px;
}

.feature-section-4a {
  width: 50%;
  padding: 5% 5% 0 0;
}

.feature-section-4b {
  width: 50%;
  padding: 2% 0 0 5%;
}

.feature-section-5 {
  height: 500px;
  display: flex;
  padding: 2% 15%;
  margin: 50px auto 100px;
}

.feature-section-5a {
  width: 50%;
  padding: 2% 0;
}

.feature-section-5b {
  width: 50%;
  padding: 5% 0 0 5%;
}

.feature-number {
  height: 75px;
  width: 75px;
  padding: 14px 26px;
  color: white;
  font-size: 40px;
  font-weight: 700;
  border-radius: 50%;
  background-image: linear-gradient(#00a9af, #7ad6dd);
}

.feature-subtitle {
  width: 80%;
  margin: 20px 0 10px;
  font-weight: 500;
  font-size: 30px;
}

.feature-section-text-box {
  display: flex;
  margin: 40px 0;
}

.right-arrow {
  height: 27px;
  width: 27px;
}

.feature-text {
  width: 70%;
  margin: 0 0 0 10px;
  font-weight: 400;
  font-size: 18px;
}

.feature-visual {
  margin: 0 auto;
  height: auto;
  width: 100% !important;
  border-radius: 5px;
  border: none;
  box-shadow: -1px 1px 5px grey;
}

/* DIVIDER2 SECTION */

.divider2-section {
  position: relative;
  height: 500px;
}

.divider2-curve-1 {
  position: relative;
  height: auto;
  width: 100%;
  bottom: 150px;
  z-index: -1;
}

.divider2-curve-2 {
  position: relative;
  height: auto;
  width: 100%;
  bottom: 150px;
  z-index: -1;
}

.social-proof-divider2 {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 100px;
  bottom: 725px;
  text-align: center;
  color: white;
}

.divider2-section-title {
  font-size: 40px;
}

.cta-btn-2 {
  background-color: #00a9af !important;
  color: white;
  border: 1px solid #00a9af;
  border-radius: 0.25rem;
  height: 75px;
  width: 300px;
  margin: 25px auto;
  font-size: 25px !important;
}

.cta-btn-2:hover {
  opacity: 80%;
  transform: scale(1.01);
  transition: 200ms linear;
}

/* OPTION SECTION */
.option-section {
  position: relative;
  height: 1200px;
  margin: 475px 0 -325px;
  padding: 100px 0 0;
  background-color: #00a9af;
  bottom: 325px;
}

.option-section-topper {
  position: relative;
  height: 450px;
  background-color: #00a9af;
  bottom: 750px;
  z-index: -2;
}

.option-title {
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px darkgray;
}

.example-btn-container {
  height: 250px;
  margin: 100px auto 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 20%;
}

.example-btn {
  background-color: transparent;
  border: none;
  /* border-bottom: 3px solid black; */
  font-size: 30px;
  color: #414042;
}

.example-btn:hover {
  opacity: 80%;
  /* border-bottom: 3px solid white; */
}

.active-example {
  background-color: transparent;
  border: none;
  /* border-bottom: 3px solid white; */
  font-size: 30px;
  color: white;
  width: 50%;
  text-shadow: 1px 1px darkgray;
}

.inactive-example {
  background-color: transparent;
  border: none;
  font-size: 30px;
  opacity: 60%;
  width: 30%;
}

.inactive-example:hover {
  opacity: 80%;
  transform: scale(1.01);
  transition: 200ms linear;
  /* border-bottom: 3px solid white; */
}

.example-arrow-container {
  width: 100px;
}

.example-arrow {
  height: 40px;
  margin: 10px 25%;
}

.example-card {
  display: flex;
}

.option-text-box {
  width: 100%;
}

.example-1 {
  margin: 25px 60% 0 20%;
  padding: 1% 1% 1% 2%;
  height: 175px;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px 1px 5px grey;
}

.example-2 {
  margin: 25px 41% 0 39%;
  padding: 1% 1% 1% 2%;
  height: 175px;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px 1px 5px grey;
}

.example-3 {
  margin: 25px 20% 0 60%;
  padding: 1% 1% 1% 2%;
  height: 175px;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px 1px 5px grey;
}

.example-title {
  font-size: 30px;
}

.example-text {
  width: 100%;
  margin: 10px 0 0;
  text-align: left;
  font-size: 18px;
}

.option-subtitle {
  width: 100%;
  margin: 100px auto 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px darkgray;
}

.video-3 {
  margin: 25px 33%;
  height: auto;
  width: 34% !important;
  border-radius: 5px;
  border: none;
  /* position: absolute; */
  box-shadow: -1px 1px 5px grey;
}

.divider-curve-3 {
  position: relative;
  height: auto;
  width: 100%;
  bottom: 150px;
  z-index: -1;
  margin-bottom: -400px;
}

/* PRICING SECTION */
.pricing-section {
  min-height: 800px;
  margin: 150px auto 0;
}

.pricing-title {
  width: 100%;
  margin: 50px auto 10px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #00a9af;
}

.pricing-subtitle {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

.pricing-breakdown {
  display: flex;
  min-height: 400px;
  margin: 75px auto 0;
}

.pricing-unlimited {
  min-height: 400px;
  width: 20%;
  margin: 0 5% 0 15%;
  padding: 2%;
  background-color: white;
  border-radius: 5px;
  box-shadow: -1px 1px 5px grey;
  text-align: center;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.pricing-single {
  min-height: 400px;
  width: 20%;
  margin: 0 5% 0 0;
  padding: 2%;
  background-color: #a5a2a7;
  border-radius: 5px;
  box-shadow: -1px 1px 5px grey;
  text-align: center;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.pricing-card-title {
  height: 30%;
  width: 100%;
  margin: 0 0 30px;
  font-size: 35px;
}

.pricing-card-text {
  height: 25%;
  padding: 2% 0;
}

.pricing-card-btn {
  background-color: #41c1ca;
  color: white;
  border-radius: 0.25rem;
  border: none;
  height: 50px;
  width: 60%;
  font-size: 20px;
  box-shadow: -1px 1px 5px grey;
}

.pricing-detail-section {
  width: 20%;
  margin: 0 15% 0 0;
}

.pricing-section-text-box {
  display: flex;
  margin: 50px 0;
}

.right-arrow-pricing {
  height: 27px;
  width: 27px;
}

.pricing-detail-text {
  height: 25%;
  margin: 0;
  padding: 0 0 0 3%;
  font-size: 20px;
}

/* SOCIAL DIVIDER SECTION */
.social-divider-section {
  height: 225px;
  width: 100%;
  background-color: rgb(234, 234, 234);
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.social-divider-container {
  width: 50%;
  margin: 15px 25%;
  display: flex;
}

.social-profile-pic {
  background-color: hotpink;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.social-divider-text-container {
  width: 80%;
  margin: 0 0 0 5%;
}

.social-divider-text {
  font-size: 20px;
}

.social-divider-names {
  display: flex;
}

.social-divider-person {
  padding: 2% 0;
  font-size: 25px;
  font-weight: 500;
  color: rgb(238, 0, 119);
}

.social-divider-logo {
  height: 100%;
  width: auto;
  margin: 0 0 0 5%;
}

.social-divider-bottom {
  height: 100px;
  width: 100%;
  background-color: rgb(234, 234, 234);
}

/* CTA SECTION */
.cta-section {
  position: relative;
  height: 800px;
  width: 100%;
  background-color: rgb(234, 234, 234);
}

.cta-background {
  position: absolute;
  height: 100%;
  width: auto;
  left: 100px;
}

.cta-detail-container {
  height: 100%;
  width: 500px;
  position: absolute;
  margin: 0;
  right: 10%;
  z-index: 1;
  text-align: center;
}

.cta-title {
  font-size: 40px;
  font-weight: 700;
  margin: 25px 0;
}

.cta-text1 {
  font-size: 25px;
  margin: 10px auto 25px;
}

.cta-btn-3 {
  background-color: #00a9af;
  color: white;
  border: 1px solid #00a9af;
  border-radius: 0.25rem;
  height: 50px;
  width: 200px;
  margin: 25px auto 75px;
  display: block !important;
  font-size: 20px !important;
  box-shadow: -1px 1px 5px grey;
}

.cta-btn-3:hover {
  opacity: 80%;
  transform: scale(1.01);
  transition: 200ms linear;
}

.cta-text2 {
  font-size: 25px;
  margin: 10px auto 25px;
}

.cta-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.cta-btn-4 {
  background-color: #414042;
  color: white;
  border: 1px solid #414042;
  border-radius: 0.25rem;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  display: block !important;
  font-size: 20px !important;
  box-shadow: -1px 1px 5px grey;
}

.cta-btn-4:hover {
  opacity: 80%;
  transform: scale(1.01);
  transition: 200ms linear;
}

.cta-btn-5 {
  background-color: #303d7c;
  color: white;
  border: 1px solid #303d7c;
  border-radius: 0.25rem;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  display: block !important;
  font-size: 20px !important;
  box-shadow: -1px 1px 5px grey;
}

.cta-btn-5:hover {
  opacity: 80%;
  transform: scale(1.01);
  transition: 200ms linear;
}

.cta-detail-container a:hover {
  text-decoration: none;
}

/* /
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/ */

@media screen and (max-width: 1600px) {
  .social-proof-divider {
    bottom: 600px;
  }

  .demo-background {
    height: 600px;
    width: 100%;
    bottom: 500px;
    /* margin-bottom: -600px; */
  }

  .demo-section-1 {
    width: 35%;
    height: 300px;
    margin: 0 0 0 15%;
    padding: 0;
  }

  .demo-section-2 {
    width: 35%;
    height: 300px;
    margin: 0 15% 0 0;
  }

  .video-2 {
    margin: 2% auto !important;
    height: 250px !important;
    width: auto;
  }

  .social-proof-divider2 {
    bottom: 600px;
  }

  .option-section {
    padding: 100px 0 0;
    bottom: 450px;
    margin-bottom: -425px;
  }

  .option-section-topper {
    height: 450px;
    bottom: 850px;
  }

  .pricing-section {
    margin-top: 0;
  }
}

@media screen and (max-width: 1500px) {
  .demo-background {
    display: none;
    /* margin-bottom: -400px; */
  }

  .demo-section-1 {
    height: 250px;
  }

  .demo-section-2 {
    height: 250px;
  }

  .option-section {
    padding: 100px 0 0;
    bottom: 520px;
  }

  .option-section-topper {
    height: 450px;
    bottom: 800px;
  }

  .example-arrow-container {
    visibility: hidden;
    width: 0;
  }

  .example-title {
    font-size: 25px;
  }

  .example-text {
    font-size: 15px;
  }

  .video-3 {
    margin: 25px 28%;
    height: auto;
    width: 44% !important;
  }

  .cta-detail-container {
    right: 5%;
  }
}

@media screen and (max-width: 1400px) {
  .social-divider-bottom {
    height: 0;
  }

  /* CTA SECTION */
  .cta-section {
    min-height: 700px;
  }

  .cta-background {
    width: 0%;
  }

  .cta-detail-container {
    position: relative;
    height: 100%;
    width: 100%;
    right: 0;
    margin: 0 auto;
    padding: 50px 5% 0;
    background-color: rgb(234, 234, 234);
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
    text-align: center;
  }

  .cta-title {
    font-size: 40px;
    font-weight: 700;
    margin: 25px 0;
    width: 100%;
  }

  .cta-text1 {
    font-size: 25px;
    margin: 10px auto 25px;
  }

  .cta-btn-3 {
    height: 50px;
    width: 150px;
    font-size: 15px !important;
  }

  .cta-text2 {
    font-size: 25px;
    margin: 10px auto 25px;
  }

  .cta-btn-container {
    display: flex;
    justify-content: space-evenly;
  }

  .cta-btn-4 {
    height: 50px;
    width: 150px;
    font-size: 15px !important;
  }

  .cta-btn-5 {
    height: 50px;
    width: 150px;
    font-size: 15px !important;
  }
}

@media screen and (max-width: 1300px) {
  .social-proof-divider {
    bottom: 500px;
  }

  .social-proof-divider2 {
    bottom: 550px;
  }

  .option-section {
    padding: 0;
    bottom: 520px;
  }

  .option-section-topper {
    height: 450px;
    bottom: 700px;
  }
}

/* MOBILE SCREEN ADJUSTMENTS */
@media screen and (max-width: 1200px) {
  /* HEADER STYLES */
  .contact-bar-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 15px;
  }

  .contact-bar-icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }

  .color-navbar {
    padding: 0 10% 0 10% !important;
  }

  .navbar-nav {
    min-height: 350px;
    margin: 10px auto 0;
  }

  nav {
    min-height: 75px;
  }

  a img {
    margin: 0 5% 0 5% !important;
    height: 50px;
  }

  .nav-link {
    color: #00a9af !important;
    background-color: white !important;
    height: 50px;
    width: 200px !important;
    margin: 0 10px 0 0;
    font-weight: 500;
    font-size: 15px;
    text-align-last: left;
    border: none !important;
    box-shadow: none !important;
  }

  /* HERO SECTION MOBILE*/
  .hero-section {
    display: inline;
    min-height: 1000px;
    /* padding: 100px 0 0; */
  }

  .hero-section-1 {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 5% 0;
  }

  .hero-section-2 {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .hero-section-1-fixed {
    height: 300px;
  }

  .hero-section-2-fixed {
    height: 350px;
    width: 100%;
    padding: 0 15%;
  }

  .hero-title {
    width: 100%;
    text-align: center;
  }

  .hero-subtitle {
    width: 100%;
    text-align: center;
  }

  .hero-text {
    width: 70%;
    margin: 20px auto;
    font-weight: 400;
    text-align: center;
  }

  .cta-btn-1 {
    height: 50px;
    width: 300px;
    margin: 0 auto;
    display: block !important;
    font-size: 20px !important;
  }

  .video-1 {
    width: 100%;
    height: 300px !important;
    padding: 0;
  }

  /* DIVIDER SECTION MOBILE */
  .divider-section {
    height: 200px;
  }

  .divider-section-title {
    font-size: 30px;
  }

  /* DEMO SECTION MOBILE */
  .demo-section {
    position: relative;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
  }

  .demo-background {
    bottom: 800px;
    margin-bottom: 100px;
  }

  .demo-section-1 {
    width: 100%;
    margin: 0 0 200px;
  }

  .demo-section-2 {
    height: 150px;
    width: 90%;
    margin: 0 5%;
    padding: 0;
  }

  .video-2 {
    width: 100%;
    height: 300px !important;
    padding: 0;
  }

  .demo-title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
  }

  .demo-text {
    margin: 25px auto 0 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  /* FEATURE SECTION MOBILE */
  .feature-section {
    height: 4000px;
  }

  .feature-section-1 {
    min-height: 650px;
    width: 100%;
    display: inline-block;
    padding: 0 20%;
    margin: 50px auto;
  }

  .feature-section-1a {
    width: 100%;
    min-height: 200px;
    padding: 2% 0;
  }

  .feature-section-1b {
    width: 100%;
    min-height: 350px;
    padding: 0;
  }

  .feature-section-2 {
    min-height: 650px;
    width: 100%;
    flex-direction: column-reverse;
    padding: 0 20%;
    margin: 50px auto;
  }

  .feature-section-2a {
    width: 100%;
    min-height: 350px;
    padding: 0;
  }

  .feature-section-2b {
    width: 100%;
    min-height: 200px;
    padding: 2% 0;
  }

  .feature-section-3 {
    min-height: 650px;
    width: 100%;
    display: inline-block;
    padding: 0 20%;
    margin: 50px auto;
  }

  .feature-section-3a {
    width: 100%;
    min-height: 200px;
    padding: 2% 0;
  }

  .feature-section-3b {
    width: 100%;
    min-height: 350px;
    padding: 0;
  }

  .feature-section-4 {
    min-height: 650px;
    width: 100%;
    flex-direction: column-reverse;
    padding: 0 20%;
    margin: 50px auto;
  }

  .feature-section-4a {
    width: 100%;
    min-height: 350px;
    padding: 0;
  }

  .feature-section-4b {
    width: 100%;
    min-height: 200px;
    padding: 2% 0;
  }

  .feature-section-5 {
    min-height: 650px;
    width: 100%;
    display: inline-block;
    padding: 0 20%;
    margin: 50px auto;
  }

  .feature-section-5a {
    width: 100%;
    min-height: 200px;
    padding: 2% 0;
  }

  .feature-section-5b {
    width: 100%;
    min-height: 350px;
    padding: 0;
  }

  .feature-number {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    padding: 8px 16px;
    font-size: 30px;
  }

  .feature-subtitle {
    width: 100%;
    margin: 20px auto 10px;
    text-align: center;
    /* font-weight: 500; */
    /* font-size: 30px; */
  }

  .feature-section-text-box {
    width: 80%;
    margin: 20px auto;
  }

  .feature-text {
    width: 98%;
    margin: 0 0 0 2%;
  }

  .video-preview {
    margin: 0 auto !important;
    height: auto !important;
    width: 100% !important;
  }

  /* DIVIDER2 SECTION MOBILE */
  .divider2-section {
    height: 200px;
  }

  .divider2-section-title {
    font-size: 30px;
  }

  .cta-btn-2 {
    height: 50px;
    width: 250px;
    margin: 25px auto;
    font-size: 18px !important;
  }

  /* OPTION SECTION MOBILE*/
  .option-section {
    padding: 100px 0 0;
    bottom: 300px;
    margin-bottom: -325px;
  }

  .option-section-topper {
    height: 450px;
    bottom: 600px;
  }

  .option-title {
    font-size: 30px;
    padding: 0 10%;
  }

  .example-btn-container {
    padding: 0 5%;
  }

  .example-btn {
    width: 150px;
    font-size: 15px;
  }

  .active-example {
    width: 150px;
    font-size: 15px;
  }

  .inactive-example {
    width: 150px;
    font-size: 15px;
  }

  .example-options-title {
    color: white;
    font-size: 20px;
    margin: 50px 0 0;
  }

  .example-1 {
    margin: 25px 62% 0 8%;
    padding: 1% 1% 1% 2%;
    height: 200px;
    width: 30%;
  }

  .example-2 {
    margin: 25px 35% 0 35%;
    padding: 1% 1% 1% 2%;
    height: 200px;
    width: 30%;
  }

  .example-3 {
    margin: 25px 8% 0 62%;
    padding: 1% 1% 1% 2%;
    height: 200px;
    width: 30%;
  }

  .video-3 {
    margin: 25px 15%;
    height: auto;
    width: 70% !important;
  }

  /* PRICING SECTION MOBILE */
  .pricing-section {
    min-height: 700px;
    border-bottom: 1px solid #414042;
    margin-top: 150px;
  }

  .pricing-title {
    width: 100%;
    margin: 50px auto 10px;
    padding: 0 10%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
  }

  .pricing-subtitle {
    width: 100%;
    padding: 0 10%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
  }

  .pricing-breakdown {
    flex-direction: column;
    min-height: 400px;
    margin: 25px auto 0;
  }

  .pricing-unlimited {
    min-height: 300px;
    width: 70%;
    margin: 30px 15% 0;
    padding: 4%;
  }

  .pricing-single {
    min-height: 300px;
    width: 70%;
    margin: 50px 15% 0;
    padding: 4%;
  }

  .pricing-card-title {
    height: 30%;
    width: 100%;
    margin: 0;
    font-size: 35px;
  }

  .pricing-card-text {
    height: 25%;
    padding: 2% 0;
  }

  .pricing-card-btn {
    height: 50px;
    width: 60%;
    font-size: 20px;
  }

  .pricing-card-note {
    padding: 10px 0 0;
  }

  .pricing-detail-section {
    height: 300px;
    width: 70%;
    margin: 20px auto;
    padding: 2% 5% 0 15%;
    text-align: center;
  }

  .pricing-section-text-box {
    display: flex;
    margin: 10px 0;
    width: 100%;
    padding: 0;
  }

  .pricing-detail-text {
    margin: 10px 0;
    padding: 0 0 0 2%;
    font-size: 18px;
  }

  .right-arrow-pricing {
    margin: 10px 0;
  }

  /* SOCIAL DIVIDER SECTION MOBILE */
  .social-divider-section {
    height: 200px;
    width: 100%;
  }

  .social-divider-container {
    width: 70%;
    margin: 15px 15%;
  }

  .social-divider-text {
    font-size: 15px;
  }

  .social-divider-names {
    height: 40px;
  }

  .social-divider-person {
    padding: 2% 0;
    font-size: 20px;
  }

  .footer-content {
    width: 100%;
    padding: 0 2%;
  }
}

@media screen and (max-width: 1000px) {
  .hero-title {
    font-size: 35px;
  }

  .hero-subtitle {
    font-size: 25px;
  }

  .hero-text {
    font-size: 15px;
  }

  .social-proof-divider {
    bottom: 450px;
  }

  .divider-section {
    height: 100px;
  }

  .demo-title {
    font-size: 35px;
  }

  .demo-text {
    font-size: 15px;
  }

  .video-2 {
    width: 60% !important;
  }

  .sim-title {
    font-size: 35px;
  }

  .sim-subtitle {
    font-size: 25px;
  }

  .feature-title {
    font-size: 35px;
  }

  .feature-subtitle {
    font-size: 25px;
  }

  .feature-text {
    font-size: 15px;
  }

  .feature-section-1 {
    min-height: 650px;
    padding: 0 10%;
  }

  .feature-section-1a {
    width: 100%;
    min-height: 300px;
    padding: 2% 0;
  }

  .feature-section-1b {
    width: 100%;
    min-height: 300px;
    padding: 0;
  }

  .feature-section-2 {
    min-height: 650px;
    padding: 0 10%;
    margin: 0 auto 50px;
  }

  .feature-section-2a {
    width: 100%;
    min-height: 300px;
    padding: 0;
  }

  .feature-section-2b {
    width: 100%;
    min-height: 300px;
    padding: 2% 0;
  }

  .feature-section-3 {
    min-height: 650px;
    padding: 0 10%;
  }

  .feature-section-3a {
    width: 100%;
    min-height: 300px;
    padding: 2% 0;
  }

  .feature-section-3b {
    width: 100%;
    min-height: 300px;
    padding: 0;
  }

  .feature-section-4 {
    min-height: 650px;
    padding: 0 10%;
    margin: 0 auto 50px;
  }

  .feature-section-4a {
    width: 100%;
    min-height: 300px;
    padding: 0;
  }

  .feature-section-4b {
    width: 100%;
    min-height: 300px;
    padding: 2% 0;
  }

  .feature-section-5 {
    min-height: 650px;
    padding: 0 10%;
  }

  .feature-section-5a {
    width: 100%;
    min-height: 300px;
    padding: 2% 0;
  }

  .feature-section-5b {
    width: 100%;
    min-height: 300px;
    padding: 0;
  }

  .social-proof-divider2 {
    bottom: 450px;
  }

  .divider2-section {
    height: 100px;
  }

  .option-section-topper {
    height: 450px;
    bottom: 400px;
  }

  .pricing-detail-section {
    height: 300px;
    padding: 2% 5%;
  }
}

@media screen and (max-width: 800px) {
  .social-proof-divider {
    bottom: 400px;
  }

  .divider-section {
    height: 50px;
  }

  .divider-section-title {
    font-size: 20px;
  }

  .social-proof-divider2 {
    bottom: 400px;
  }

  .divider2-section {
    height: 50px;
  }

  .divider2-section-title {
    font-size: 20px;
  }

  .cta-btn-2 {
    height: 40px;
    width: 200px;
    margin: 15px auto;
    font-size: 18px !important;
  }
}

/* SMALL MOBILE SCREEN ADJUSTMENTS */
@media screen and (max-width: 700px) {
  .social-proof-divider {
    bottom: 350px;
  }

  .divider-section {
    height: 0px;
  }

  .video-2 {
    width: 68% !important;
  }

  .social-proof-divider2 {
    bottom: 350px;
  }

  .divider2-section {
    height: 0px;
  }

  .example-btn {
    width: 100px;
  }

  .active-example {
    width: 100px;
  }

  .inactive-example {
    width: 100px;
  }

  .example-arrow-container {
    margin: 7px 0;
    height: 35px;
    width: 35px;
  }

  .example-arrow {
    height: 35px;
    width: 35px;
  }

  .example-1 {
    margin: 25px 55% 0 5%;
    padding: 1% 1% 1% 2%;
    height: 200px;
    width: 40%;
  }

  .example-2 {
    margin: 25px 30% 0 30%;
    padding: 1% 1% 1% 2%;
    height: 200px;
    width: 40%;
  }

  .example-3 {
    margin: 25px 5% 0 55%;
    padding: 1% 1% 1% 2%;
    height: 200px;
    width: 40%;
  }

  .video-3 {
    margin: 25px 10%;
    height: 250px !important;
    width: 80% !important;
  }

  .social-divider-container {
    width: 90%;
    margin: 15px 5%;
  }
}

@media screen and (max-width: 530px) {
  .contact-bar {
    height: 35px;
  }

  .contact-bar-container {
    padding: 5px 0;
    font-size: 10px;
  }

  .hero-section-1-fixed {
    height: 400px;
  }

  .hero-section-2-fixed {
    padding: 0 10%;
  }

  .social-proof-divider {
    width: 100%;
    bottom: 290px;
    margin: 0 auto;
  }

  .divider-section-title {
    font-size: 15px;
  }

  .sim-section button {
    margin: 0 !important;
  }

  .sim-card {
    height: 250px;
    width: 200px;
  }

  .sim-card-img {
    width: 200px;
  }

  .sim-card-title {
    font-size: 20px;
  }

  .sim-card-text {
    font-size: 12px;
  }

  .feature-section {
    height: 3600px;
  }

  .feature-section-1 {
    min-height: 600px;
    padding: 0 10%;
    margin-bottom: 0;
  }

  .feature-section-1a {
    width: 100%;
    height: 200px;
    padding: 2% 0;
  }

  .feature-section-1b {
    width: 100%;
    height: 250px;
    padding: 0;
  }

  .feature-section-2 {
    min-height: 600px;
    padding: 0 10%;
    margin: 50px auto 0;
  }

  .feature-section-2a {
    width: 100%;
    min-height: 250px;
    padding: 2% 0;
  }

  .feature-section-2b {
    width: 100%;
    min-height: 200px;
    padding: 0;
  }

  .feature-section-3 {
    min-height: 600px;
    padding: 0 10%;
    margin: 50px auto 0;
  }

  .feature-section-3a {
    width: 100%;
    min-height: 200px;
    padding: 2% 0;
  }

  .feature-section-3b {
    width: 100%;
    min-height: 250px;
    padding: 0;
  }

  .feature-section-4 {
    min-height: 600px;
    padding: 0 10%;
    margin: 50px auto 0;
  }

  .feature-section-4a {
    width: 100%;
    min-height: 250px;
    padding: 2% 0;
  }

  .feature-section-4b {
    width: 100%;
    min-height: 200px;
    padding: 0;
  }

  .feature-section-5 {
    min-height: 600px;
    padding: 0 10%;
    margin: 50px auto 0;
  }

  .feature-section-5a {
    width: 100%;
    min-height: 200px;
    padding: 2% 0;
  }

  .feature-section-5b {
    width: 100%;
    min-height: 250px;
    padding: 0;
  }

  .social-proof-divider2 {
    width: 100%;
    bottom: 325px;
    margin: 0 auto;
  }

  .divider2-curve-1 {
    height: 150px;
  }

  .divider2-curve-2 {
    height: 150px;
  }

  .cta-btn-2 {
    height: 30px;
    width: 175px;
    margin: 5px auto;
    font-size: 15px !important;
  }

  .option-section {
    padding: 50px 0 0;
    bottom: 400px;
  }

  .option-section-topper {
    height: 150px;
    bottom: 350px;
  }

  .example-1 {
    margin: 25px 45% 0 5%;
    padding: 1% 1% 1% 2%;
    height: 200px;
    width: 50%;
  }

  .example-2 {
    margin: 25px 25% 0 25%;
    padding: 1% 1% 1% 2%;
    height: 200px;
    width: 50%;
  }

  .example-3 {
    margin: 25px 5% 0 45%;
    padding: 1% 1% 1% 2%;
    height: 200px;
    width: 50%;
  }

  .divider-curve-3 {
    height: 200px;
    bottom: 350px;
    z-index: -1;
    margin-bottom: -700px;
  }

  .pricing-detail-section {
    height: 350px;
    padding: 2% 0;
  }

  .social-divider-container {
    width: 90%;
    margin: 15px 5%;
  }

  .social-profile-pic {
    height: 60px;
    width: 60px;
  }

  .social-divider-text {
    font-size: 14px;
  }

  .social-divider-person {
    font-size: 15px;
  }

  .social-divider-logo {
    height: 80%;
  }
}

@media screen and (max-width: 400px) {
  .social-proof-divider {
    bottom: 270px;
  }
}

/* /
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/
/ */

/* PRICING PAGE */
.active-option-left {
  background-color: #00a9af;
  border: none;
  height: 50px;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.active-option-right {
  background-color: #00a9af;
  border: none;
  height: 50px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inactive-option-right {
  background-color: rgb(234, 234, 234);
  border: none;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.inactive-option-right:hover {
  transform: scale(1.01);
  color: #00a9af;
}

.inactive-option-left {
  background-color: rgb(234, 234, 234);
  border: none;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.inactive-option-left:hover {
  transform: scale(1.01);
  color: #00a9af;
}
